<div class="main">
    <div class="top-main">
        <nav class="navbar fixed-top">
          
            <div class="container">
                <div class="links">
                    <button class="btn btn-outline-success login-btn" routerLink="../figo/login">Login</button>
                
                  </div>
          
                 
                  <div class="logo">
                    <a class="navbar-brand" href="#">
                      <img src="../../assets/images/logo.png" alt="" width="100px"  />
                    </a>
                </div>
            </div>

      
        </nav>
  
  


      </div>
    
      <div data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="100"
      data-aos-offset="0"
        class="main-content"
      >

      <div class="jumbo ">

        <div class="container jumbo-content"> 
          <div class="jumbo-text" data-aos="fade-right"       data-aos-delay="400"
          >
            <h1 class="mb-2 heading">
              Providing accessible
              <span class="green-txt">financial services</span> to the informal
              sectors and communities in <span class="green-txt"> Africa</span>
            </h1>
            <p class="parg">  More convenient and secure financial services through our Agent Networks and Merchant Outlets
            </p>
              <button type="button" class="btn btn-started mr-3 green-btn">
                Contact Team
              </button>
          </div>        
        <div class="image">
          <img src="../../assets/images/carousel2 1.png">
        </div>
        </div>

      </div>
      
    
    
      <div class="grow-main">
        <div class="container">
        <h1 class="mb-5 mt-4 heading">
          Why you should grow your business with <span class="green-txt">Figo</span>
        </h1>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 py-2  " data-aos="fade-right">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="../../assets/images/money (2) 1.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title ">Unlimited Income</h5>
                <p class="card-text parg">
                  Receive commission for every transaction. The more customers you
                  have, the more you earn.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 py-2" data-aos="fade-up">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="../../assets/images/wallet (1) 1.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title ">Daily payouts</h5>
                <p class="card-text parg">
                  Commissions are paid daily. You can withdraw your funds whenever
                  you want.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 py-2 " data-aos="fade-left">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="../../assets/images/Rocket.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title ">Easy to start</h5>
                <p class="card-text parg">
                  Promoting Diversity in the work place and community
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 py-2 " data-aos="fade-right">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="../../assets/images/open-box 1.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title ">Rewards & Discounts</h5>
                <p class="card-text parg">
                  Being our Agent has its privileges. Participate and earn more.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 py-2 " data-aos="fade-up">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="../../assets/images/discount-label 1.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title ">Free promo materials</h5>
                <p class="card-text parg">
                  We will provide you with complimentary promotional tools to
                  attract more customers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 py-2 " data-aos="fade-left">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="../../assets/images/all-inclusive 1.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title ">Inclusiveness</h5>
                <p class="card-text parg">
                  Get individual support in your native language. We will help you
                  with every step.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="solutions">
      <div class="container">
        <h1 class="heading">
          Increase Revenue with Reliable <span class="green-txt">Payment Options</span>
        </h1>


        <div class="options">
          <!-- <div class="row">
            <div class="col-sm-6 " style="
            padding: 0px 2%;
        "   data-aos="zoom-in">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 card-side-text">
                      <h5 class="card-title">Providing Financial Services through <span class="green-txt">Banking Agents</span> 
                      </h5>
                      <p class="card-text">Banking And Payment Services</p>
                      <a class="btn green-btn" routerLink="../login/agent">Login</a>
                    </div>
                    <div class="col-md-6">
          <img src="../../assets/images/carousel3.png" alt="" class="card-img-top" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="
            padding: 0px 2%;
        "  data-aos="zoom-in">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 card-side-text">
                      <h5 class="card-title">Scale Your Business with <span class="green-txt">Figo Merchant</span> </h5>
                      <p class="card-text">Merchant Payment solutions</p>
                      <a routerLink="../login/merchant" class="btn green-btn">Sign Up</a>
                    </div>
                    <div class="col-sm-6">
          <img src="../../assets/images/figo-merchant.jpg" alt="" class="card-img-top" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>    -->
        
   <!-- <div class="row">
     <div class="col-md-6 col-sm-6 top-card" >
      <div class="card" >
        <div class="row h-100">
          <div class="col-md-6 side-img" >
          
            <img src="../../assets/images/carousel3.png" class="card-img" alt="..." >
          </div>
          <div class="col-md-6">
            <div class="card-body card-side-text">
              <h5 class="card-title">Providing Financial Services through <span class="green-txt">Banking Agents</span> 
              </h5>
              <p class="card-text">Banking And Payment Services</p>
              <a class="btn green-btn" routerLink="../login/agent">Login</a>
            </div>
          </div>
        </div>
      </div>
     </div>
     <div class="col-md-6 col-sm-6 ">
      <div class="card " >
        <div class="row h-100">
          <div class="col-md-6 side-img">
            <img src="../../assets/images/figo-merchant.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body card-side-text">
              <h5 class="card-title">Scale Your Business with <span class="green-txt">Figo Merchant</span> </h5>
              <p class="card-text">Merchant Payment solutions</p>
              <a routerLink="../login/merchant" class="btn green-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
     </div>
   </div>  -->

   <div class="figo-agent mb-4 cards" data-aos="fade-right">

    <div class="card" >
      <div class="row h-100">
        <div class="col-md-6 side-img" >
        
          <img src="../../assets/images/carousel3.png" class="card-img" alt="..." >
        </div>
        <div class="col-md-6">
          <div class="card-body card-side-text">
            <h5 class="card-title">Providing Financial Services through <span class="green-txt">Banking Agents</span> 
            </h5>
            <p class="card-text">Banking And Payment Services</p>
            <a class="btn green-btn" routerLink="../login/agent">Login</a>
          </div>
        </div>
      </div>
    </div>

   </div>

   <div class="figo-merchant cards" style="margin-left: auto; padding-top: 20px;" data-aos="fade-left">
    <div class="card " >
      <div class="row h-100">
        <div class="col-md-6 side-img">
          <img src="../../assets/images/figo-merchant.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body card-side-text">
            <h5 class="card-title">Scale Your Business with <span class="green-txt">Figo Merchant</span> </h5>
            <p class="card-text">Merchant Payment solutions</p>
            <a routerLink="../login/merchant" class="btn green-btn">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
   </div>

        </div>

        <!-- <div class="row">
          <div class="col-md-6">
            <div class="row tabs">
              <div class="col-md-6 img-text">
                <h5 class="title">Providing Financial Services through <span class="green-txt">Banking Agents</span> 
                </h5>
                <p class="parg">Banking And Payment Services</p>
                <a class="btn green-btn" routerLink="../login/agent">Login</a>
              </div>

              <div class="col-md-6 img1">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row tabs">
              <div class="col-md-6 img-text">
                <h5 class="title">Scale Your Business with <span class="green-txt">Figo Merchant</span> </h5>
                <p class="pargt">Merchant Payment solutions</p>
                <a routerLink="../login/merchant" class="btn green-btn">Sign Up</a>
              </div>

              <div class="col-md-6 img2">
                
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

      <div class="service-main">
        <div class="container">
          <div class="top-text mb-5">
            <h1 class="heading">
              Services we can offer you with <span class="green-txt">Figo</span>
            </h1>
            <p class="parg">
              With the figo solution, you can perform the following transactions
            </p>
          </div>
    
          <div class="services">
            <div class="row">
              <div class="col-md-4 col-sm-12 service-list">
                  <ul >
                    <li *ngFor="let item of items" data-aos="fade-down" >{{item.name}}</li>
                  </ul>
              </div>
              <div class="col-md-8 parent-imgs">
                <img
                  src="../../assets/images/serve.png"
                  class="img-responsive bottom-img"
                  width="100%"
                />
              </div>
            </div>
          </div>
        </div>
    </div>
    
    

    
        <div class="waitlist">
            <div class="container">
                <div class="waitlist-container">
                    <div class="top-text mb-5">
                        <h1 class="heading">Join the <span class="green-txt">Waitlist</span></h1>
                        <p class=" mt-2 parg">
                            Enter your email to join our mailing list and get timely updates on Figo.
                        </p>
                        <div class="input-group ">
                        <input type="text" class="form-control" placeholder="Enter your email">
                            <div class="input-group-append">
                              <button class="btn" type="button">Get Started</button>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
      </div>

  
      <div class="footer">
          <div class="container">
              <div class="footer-top row">
                      <div class="col-md-3 col-sm-6 mb-4">
                          <p>CONTACT US</p>
                          <ul>
                              <li class="row"><i class="bi bi-envelope-fill col-1"></i> care@figo.africa</li>
                              <li class="row"><i class="bi bi-house-fill col-1" ></i> 292 Borno Way Alagomeji,<br /> Lagos state</li>
                          </ul>
                      </div>
                      <div class="col-md-3 col-sm-6 mb-4">
                          <p>PRODUCTS</p>
                          <ul>
                              <li>Figo Agent</li>
                              <li>Figo  Merchant</li>
                          </ul>
                      </div>
                      <div class="col-md-3 col-sm-6 mb-4">
                          <p>TERMS OF SERVICE</p>
                          <ul>
                              <li>Terms & Conditions</li>

                          </ul>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <P>FOLOW US</P>
                          <ul class="follow">
                              <li><i class="bi bi-facebook"></i></li>
                              <li><i class="bi bi-instagram"></i></li>
                              <li><i class="bi bi-linkedin"></i></li>
                              <li><i class="bi bi-twitter"></i></li>
                          </ul>
                      </div>
              </div>
              <div class="footer-bottom">
                  <p class="">© Figo</p>
              </div>
          </div>
      </div>
    </div>
  