.main {
    width: 100%;
    background-color: #f9f8f4 ;
    overflow: hidden;
  
    .heading{
      text-align: center;
      font-size: 40px;
    }
    .login-btn {
      width: 110px;
      padding: 5px;
      font-size: 15px !important;
    }
    button:hover {
      background-color: #077512 !important;
    }

    .parg{
      font-size: 16px;
      color: var(--gray);
    }
  
  .jumbo{
    padding: 2% 0px 4% 0px;
    h1{
      text-align: left !important;
    }
    .jumbo-content{
      
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      max-width: 90%;
      box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

    }
    .image {
      flex-basis: 55%;
      height: 500px;

    }
    .text {
      font-size: 20px;
      padding-left: 20px;
      flex-basis: 60%

    }
  }
  
    .main-content{
      margin-top: 70px;
    }
  
    //carousel
    .carousel-div {
      height: 800px;
      clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
      position: relative;
  

      button {
        margin: 5px;
        padding: 10px;
        width: 200px;
      }
  
      .btn-started:hover {
        background-color: #077512 !important;
      }
    }
    .carousel-overlay {
      background-color: black;
      width: 100%;
      opacity: 0.5;
      height: 100%;
      position: absolute;
      z-index: 15;
    }
  
    ol {
      z-index: 20 !important;
      position: absolute;
    }
    .carousel-caption {
      z-index: 20 !important;
      transform: translateY(-25%);
      bottom: initial;
      top: 35%;
      position: absolute;
  
      p {
        color: #b5bfce;
      }
    }
  
    ngb-carousel:focus {
      outline: none;
    }
  
    .top-main {
      .navbar {
        background-color: #f9f8f4 !important;
      }
  
  
  
      .active {
        color: black;
        text-decoration: none;
        // font-weight: bold;
        margin-left: 60px;
      }
      .nav-item {
        margin-left: 25px;
        text-decoration: none;
        color: var(--gray);
        i {
          text-align: center;
        }
      }
    }


    .solutions{
      padding: 6% 5% 8% 5%;

      h1{
        margin-bottom: 4%;
      }

      .card{

        border: none;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;max-height: 200px;
        .card-body{
          padding: 0px;

          .card-side-text{
            padding: 5%;
          }

          .card-text{
            font-size: 14px;
            color: var(--gray);
          }

          .btn{
            width: 80%;
            font-size: 14px;
          }
        }
      }
    }
  
    .grow-main {
      background-color: white;

      padding: 8% 0px;
      clip-path: polygon(100% 0%, 100% 90%, 0% 100%, 20% 100%, 0% 100%, 0% 8%) !important;
      .card {
    /* margin-top: 15px; */
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 1px 9px 5px rgb(0 0 0 / 9%);
    max-height: 280px;
    padding: 20px;
    /* margin-bottom: 20px; */
    margin: 10%;
  
        .card-title {
          font-size: 24px;
          font-weight: bold;
          font-family: "Orelega One", cursive;
        }
        .card-img-top {
          margin: 10px 10px 10px 20px;
          width: 33px;
          height: 33px;
        }
        .card-body {
          padding-top: 5px;
        }
      }
    }
  
    .service-main {
      padding-top: 5%;
      padding-bottom: 100px;
      background-color: white;
      clip-path: polygon(
        100% 0%,
        100% 0%,
        100% 100%,
        20% 100%,
        0% 100%,
        0% 8%
      ) !important;

      p {
        text-align: center;
      }
  
      .parent-imgs {
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
  
        .bottom-img {
          width: 80%;
          //height: 100%;
        }
  
        .top-img {
          position: absolute;
          top: 190px;
          left: 175px;
          width: 28%;
          //border: 1px green solid;
        }
      }
      .service-list {
        display: flex;
        ul {
          margin: auto;
          list-style: none;
          font-weight: bold;
          li {
            padding: 20px;
            border-left: 3px solid var(--active);
            font-family: "Rubik", Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
  .agent {
    padding: 100px;
    background-image: url(../../assets/images/agentBack.png);
    background-size: cover;
    padding-top: 100px;
  
    .agent-text {
      display: flex;
  
      .top-text {
        margin: auto;
      }
    }
    .agent-img {
      img {
        width: 70%;
      }
    }
  
    li {
      list-style: none;
      margin: 10px;
      font-size: 18px;
      font-weight: bold;
  
      img {
        width: 25px;
        margin-right: 10px;
      }
    }
  
    .bar {
      height: 50px;
      margin-left: 20px;
      padding: 20px;
      border-left: 3px solid #01ae13;
    }
  }
  
  .waitlist {
    padding-top: 100px;
    color: white;
   // background-color: white;
    padding-bottom: 50px;

    h1{
      text-align: left !important;
    }
    .waitlist-container {
      margin: auto;
      padding: 50px 50px;
      background-image: url(../../assets/images/backdrop.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      width: 70%;
  

      .parg {
        color: white !important;
        font-size: 15px;
      }
      .input-group {
        padding-top: 20px;
        ::placeholder {
          color: var(--gray) !important;
          font-size: 15px;
        }
        input {
          height: 50px;
          margin-right: 30px;
          border: none;
          color: white;
          background-color: #09557b !important;
  
          :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: var(--gray) !important;
          }
  
          ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: var(--gray) !important;
          }
        }
        button {
          height: 50px;
          width: 150px;
          background-color: var(--active);
          color: white;
        }
      }
    }
  }
  
  .footer {
   // background-color: white !important;
  
    padding-top: 100px;
  
    .footer-top {
      margin-bottom: 50px;
      ul {
        list-style-type: none;
        padding-left: 0px !important;
  
        li {
          color: #6b7280;
          padding: 10px 0px;
          //padding-right: 20px;
        }
  
        i {
          margin-right: 15px;
        }
      }
  
      .follow {
        li {
          float: left;
          margin: 10px 20px 0px 0px;
        }
      }
  
      p {
        font-family: "Rubik", sans-serif;
        font-weight: bold;
  
        color: #111827;
      }
  
      .inactive {
        color: #b6b8bd !important;
      }
    }
    .footer-bottom {
      text-align: center;
      color: #6b7280;
      border-top: 1px solid #d1d5db;
      padding: 50px;
    }
  }
  
  
  
  @media (max-width: 1240px) {
    .top-img {
      top: 140px !important;
      left: 127px !important;
    }
  }
  
  @media (max-width: 990px) {
    .heading {
      font-size: 40px !important;
    }
    .service-main,
    .grow-main {
      padding-top: 30% !important;
      //margin: 20px !important;
      //width: 100% !important;
    }
    .top-img {
      top: 100px !important;
      left: 96px !important;
    }
  
    .waitlist-container {
      width: 100% !important;
    }
  }
  
  @media (max-width: 768px) {
    .nav-item,
    .active {
      display: none;
    }
  
    .jumbo-img {
      display: none;
    }
  
    .text-p {
      margin-right: 0px !important;
      text-align: center;
    }
    .heading {
      font-size: 40px !important;
    }
    .grow-main {
      padding-top: 30% !important;
    }
  
    .waitlist-container {
      // width: 100% !important;
      padding: 50px 40px !important;
    }
  
    .footer-top {
      li {
        i {
          margin-right: 5px !important;
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .top-main {
      h1 {
        font-size: 30px !important;
      }
    }
  
    .nav-item,
    .active {
      display: none;
    }
    .top-main.heading {
      font-size: 30px !important;
    }

    .grow-main {
      padding-top: 35% !important;
    }
  
    .parg,
    p,
    ul,
    li {
      font-size: 15px !important;
    }
  
    .service-main {
      padding: 30px;
      .parent-imgs {
        display: none;
      }
    }
    .agent {
      padding: 30px !important;
      .agent-img {
        display: none;
      }
    }
  
    .waitlist-container {
      width: 100%;
      padding: 30px !important;
      text-align: center !important;
  
      input {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0px !important;
      }
      button {
        width: 416px !important;
      }
    }
  
    .footer {
      position: static;
    }
  }
  
  @media (max-width: 496px) {
    .waitlist-container {
      input {
        margin-right: 0px !important;
      }
      button {
        width: 276px !important;
      }
    }
  }
  