.login-component{
    background: #F5FFF6;
    height: 100%;



    .login-main{
        background: white;
        width: 35%;
        margin: 3% auto;


        .tab-headers{
            list-style: none;
            text-decoration: none;
            padding: 0px;
            display: flex;
            
            li{
                padding: 10px;
                width: 350px;
                text-align: center;
                cursor: pointer;
                font-size: 14px;
                letter-spacing: 0.5px;
            }

        }
        .inactive{
            background-color: #c5c5c52b;
            color: var(--gray);
        }

        .active{
            background-color: var(--hoverColor);
    color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    position: relative;
        }

        .active:after {
            content:'';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 10px var(--hoverColor);
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
        }


    }

.login-tabs{
    box-shadow: rgb(229 229 229) 0px 50px 100px -20px, rgb(0 0 0 / 55%) 0px 30px 60px -30px;
    border-radius: 8px;


}
    .login-content{
        padding: 3% 10%;
    }
}



@media (max-width: 1240px) {
.login-main{
    width: 40% !important;
}
}

@media (max-width: 990px) {
    .login-main{
        width: 50% !important;
    }


}


@media (max-width: 768px) {
    .login-main{
        width: 60% !important;
    }

}

@media (max-width: 576px) {
    .login-main{
        width: 90% !important;
    }

}