.login-component{
    background: #f9f8f4;
    height: 100%;



    .login-main{
        background: white;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        .tab-headers{
            list-style: none;
            text-decoration: none;
            padding: 0px;
            display: flex;
            
            li{
                padding: 10px;
                width: 350px;
                text-align: center;

            }

        }
        .inactive{
            background-color: #c5c5c52b;
        }

        .active{
            background-color: var(--green);
    color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    position: relative;
    cursor: pointer;
        }

        .active:after {
            content:'';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 10px var(--green);
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
        }


    }
}