<div class="login-component">
    <div class="container-fluid">
      <nav class="navbar">
        <div class="container justify-content-end">
          <div class="logo">
            <a class="navbar-brand" href="#">
              <img src="../../assets/images/logo.png" alt="" width="100px" />
            </a>
          </div>
        </div>
      </nav>
  
      <div class="login-main">
        <div class="login-tabs">
            
            <p class="active">Login</p>
            <ul class="tab-headers">
                <!-- <li [ngClass]=" activeAgentTab? 'active' : 'inactive'" (click)="selectAgentTab()">
                      Figo Agent
                  </li> -->
                  <li   class="inactive green-txt" (click)="openAgent()">
             Login To Figo Agent  
                  </li>
                <!-- <li  [ngClass]="activeMerchantTab? 'active' : 'inactive' " (click)="selectMerchantTab()">
                      Figo Merchant
                    </li> -->
                    <li   class="inactive green-txt" (click)="openMerchant()">
                     Login To Figo Merchant
                  </li>
              </ul>
  

        </div>
      </div>
    </div>
  </div>
  